Temp
Doxygen
Dev/UNIJAM_2016/UNIJAM_2016.CSharp.csproj
Dev/UNIJAM_2016/UNIJAM_2016.CSharp.Plugins.csproj
*.sln
.vs
Dev/UNIJAM_2016/Library
obj
Assembly-CSharp.csproj
Assembly-CSharp-firstpass.csproj
Dev/UNIJAM_2016/UNIJAM_2016.CSharp.csproj
Dev/UNIJAM_2016/UNIJAM_2016.CSharp.Plugins.csproj
Dev/UNIJAM_2016/UNIJAM_2016.v11.suo
Dev/UNIJAM_2016/ProjectSettings
/Temp
/Doxygen
/Dev/UNIJAM_2016/UNIJAM_2016.CSharp.csproj
/Dev/UNIJAM_2016/UNIJAM_2016.CSharp.Plugins.csproj
/.vs
/Library
/obj
/Assembly-CSharp.csproj
/Assembly-CSharp-firstpass.csproj
/Dev/UNIJAM_2016/UNIJAM_2016.CSharp.csproj
/Dev/UNIJAM_2016/UNIJAM_2016.CSharp.Plugins.csproj
/Dev/UNIJAM_2016/UNIJAM_2016.v11.suo
/Dev/UNIJAM_2016/ProjectSettings
/Temp/*
/Doxygen/*
/.vs/*
/Dev/UNIJAM_2016/Library/*
/obj/*
/*.userprefs
