Temp
Doxygen
theinnkeepersstory.CSharp.csproj
theinnkeepersstory.CSharp.Plugins.csproj
*.sln
.vs
Library
obj
Assembly-CSharp.csproj
Assembly-CSharp-firstpass.csproj
theinnkeepersstory.CSharp.csproj
theinnkeepersstory.CSharp.Plugins.csproj
theinnkeepersstory.v11.suo
/Temp
/Doxygen
/theinnkeepersstory.CSharp.csproj
/theinnkeepersstory.CSharp.Plugins.csproj
/.vs
/Library
/obj
/Assembly-CSharp.csproj
/Assembly-CSharp-firstpass.csproj
/theinnkeepersstory.CSharp.csproj
/theinnkeepersstory.CSharp.Plugins.csproj
/theinnkeepersstory.v11.suo
/Temp/*
/Doxygen/*
/.vs/*
/Library/*
/obj/*
/*.userprefs
